<form class="secrets_form" action="<%= secrets_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" id="secret_recipient_id" name="secret[recipient_id]" value="<%= params[:id] %>">

  <div id="secret-tag-selects">
    <select name="secret[tag_ids][]" id="secret_tags" >
    </select>
  </div>

  <a id="one_more_tag" href="#">Add another tag</a>

  <label for="secret_title">Title</label>
  <input type="text" id="secret_title" name="secret[title]">

  <p><input type="submit" class="submit" value="Make Secret"></p>
</form>