<form action="<%= secrets_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="secret[recipient_id]" value="<%= params[:id] %>">


  <label for="secret_title">Title</label>
  <input type="text" name="secret[title]" id="secret_title">

  <p><input type="submit" value="Make Secret"></p>
</form>